[Desktop Entry]
Icon=text-html
Name=https://dashboard.rjmetrics.com/v2/client/2863/dashapp/reports/sql/2330427?dashboardId=466534
Type=Link
URL[$e]=https://dashboard.rjmetrics.com/v2/client/2863/dashapp/reports/sql/2330427?dashboardId=466534
